/* ** POC ** styles globaux mfe-stats (Angular 18) */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f5f6fa;
}

* {
  box-sizing: border-box;
}
