<a class="poc-skip-link" href="#main-content">Aller au contenu principal</a>

<mat-toolbar color="primary" class="app-toolbar">
  <button
    mat-icon-button
    class="app-toolbar__menu-btn"
    type="button"
    aria-label="Ouvrir le menu de navigation"
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="app-toolbar__title">{{ title }}</span>

  <span class="app-toolbar__spacer"></span>

  <button mat-icon-button type="button" aria-label="Menu utilisateur">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="app-shell">
  <mat-sidenav
    #sidenav
    class="app-sidenav"
    [mode]="'side'"
    [opened]="true"
    role="navigation"
    aria-label="Navigation principale"
  >
    <mat-nav-list class="app-sidenav__list">
      <a
        *ngFor="let item of navItems; trackBy: trackByPath"
        mat-list-item
        [routerLink]="item.path"
        routerLinkActive="is-active"
        class="app-sidenav__link"
      >
        <mat-icon matListItemIcon aria-hidden="true">{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main id="main-content" class="app-main" tabindex="-1">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
