:host {
  display: block;
}

.dashboard__stats {
  margin-top: var(--poc-space-5);
  display: grid;
  gap: var(--poc-space-4);
  grid-template-columns: 1fr;
}

.dashboard__mfe {
  margin-top: var(--poc-space-6);
}

@media (min-width: 600px) {
  .dashboard__stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .dashboard__stats {
    grid-template-columns: repeat(3, 1fr);
  }
}
